{{> head}}
{{> top}}
<main class="page page--error">
   <div class="hero {{@config.custom.widthHero}}">
      {{#checkIfAll @config.custom.uploadHero @config.custom.displayHeroImage}}
         <figure class="hero__image">
            <img
                  src="{{@config.custom.uploadHero}}"
                  {{#if @config.site.responsiveImages}}
                     {{responsiveImageAttributes @config.custom.uploadHero}}
                  {{/if}}
                  {{ lazyload "eager" }}
                  {{imageDimensions @config.custom.uploadHero}}
                  alt="{{@config.custom.uploadHeroAlt}}">

               {{#if @config.custom.uploadHeroCaption}}
<!--                  <figcaption>
                     {{@config.custom.uploadHeroCaption}}
                  </figcaption>
-->               {{/if}}
         </figure>
      {{/checkIfAll}}
   </div>
    <div class="wrapper post__entry">
      <h1>Lost in the Infinite Realms?</h1>
         <p>Beneath the mesmerizing dance of the twin blood moons, whispers of lost souls echo. They've ventured too far, drawn by the allure of the unknown, and now they seek a way back to the heart of the Afterlife.</p>
         <p>
            <a href="{{@website.url}}""><button>
               {{ translate 'error.button' }}
            </button></a>
         </p>
      </div>
</main>
{{> footer}}
